name: Linting

on:
  push:
    branches:
      - master
      - develop
  pull_request:

env:
  CI_TOKEN: ${{ secrets.CI_TOKEN }}
  CI_USER: ${{ secrets.CI_USER }}

jobs:
  lint:
    timeout-minutes: 10
    permissions:
      checks: write
      contents: read
      pull-requests: write
    name: linting
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: configure git for private repository
        run: git config --global url."https://${CI_TOKEN}@github.com".insteadOf "https://github.com"
      - name: run lint
        uses: reviewdog/action-golangci-lint@f9bba13753278f6a73b27a56a3ffb1bfda90ed71 # v2.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          level: warning
          filter_mode: added
          reporter: github-pr-review
          fail_on_error: false
          go_version_file: go.mod
          cache: true